# Git
.git
.gitignore

# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Variáveis de ambiente
.env
.env.*

# Testes
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db